<div class="container full">
    <div class="row full">
        <div class="col s3 full center-align">
            <h4>Hello, {{message.user}}!</h4>
            <button ng-click="logout()"><i class="small material-icons">exit_to_app</i></button>
        </div>
        <div class="col s9 full">
            <div class="col s12 talk-box">
                <div id="talk" class="col s12 bottom">
                    <div class="col s12" ng-repeat="x in talk">
                        <div class="col s4 hoverable n-over chat-box {{verify(x)}}">
                            <p><b>{{x.user}}</b></p>
                            <p>{{x.text}}</p>
                        </div>
                    </div>
                    <div class="col s12" style="height: 150px">
                    </div>
                </div>
            </div>
            <div class="col s12 bottom cyan lighten-5 message-box">
                <form class="col s12" ng-submit="send(message)" name="messageForm">
                    <div class="row">
                        <div class="col s10">
                            <input type="text" ng-model="message.text" required>
                        </div>
                        <div class="col s2">
                            <button type="submit"><i class="small material-icons" ng-disabled="messageForm.$invalid">send</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>